.main-container {
    max-width 906px;
    margin: 0 auto;
}

.main-row {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    margin-bottom: 130px;
    flex-wrap: wrap;
    
    
}

.main-card {
    flex:1 1 0;
    max-width: calc(50%-31%);
}

.main-card-lifestyle {
    color:var(--greyBeige);
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-card-titel {
    color:var(--darkGrey);
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-card-text {
    color:var(--darkGrey);
    font-family: "Playfair Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}